---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
  
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <div style="font-size: 14px;">
    <br/><br/><br/>
    <p>
        Need an expert, integrated, in-person team of designers, Android developers, iOS developers, and back-end developers? We have folks who've built 5 multi-million dollar products.
        <br/><br/>
        <a href="http://www.vshsolutions.com/index.html#contact-us">Talk to us</a> about your product design or technical questions like {{ page.title }}.
    </p>
  </div>
  {% include disqus.html %}
</article>
